@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

.app {
	display: flex;
}

.main {
	padding: 40px;
	box-sizing: border-box;
	flex-grow: 1;
	margin: 0 auto;
	max-width: 1800px;
}

.h2 {
	@include fontHeadingMixin;
}

.p {
	@include fontParagraphMixin;
}

.hr {
    border: 0;
    height: 1px;
    border-top: 1px solid $primary;
    margin: 40px 0;
}

.error {
	color: red;
	border: 1px solid red;
	padding: 0 10px 20px 10px;
	margin-bottom: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;	
}

.col {
	flex-grow: 1;
	flex-basis: 0;
	@media only screen and (max-width: 1200px) {
		flex: 0 0 100%;
	}
}
.colSmall {
	width: 80px;
	padding: 10px 20px;
	@media only screen and (max-width: 1200px) {
		margin: 0 auto;
	}
}
